<header>
  <div class="title" title="瞭望管理系统" (click)='addtest(1)'>
    <!-- <div class="left_icon back_icon"></div> -->
    <!-- <div class="right_icon"></div> -->
    采编发系统
  </div>
</header>
<content *ngIf='!station ||!load ||!http'>
  <h1 class="warning" *ngIf='!http'>数据请求失败 ,<br>请稍后再试 !</h1>
  <h1 class="warning" *ngIf='!load'>数据加载中 ,<br>请稍后...... </h1>
  <h1 class="warning" *ngIf='!station'>您的权限不足 ,<br>不能使用此项功能 !</h1>
  <div class="info" *ngIf='test>10' (click)='test=0'>
    <ol>
      <li>版本:1.29</li>
      <li>请求: {{request}}</li>
      <li>返回: {{response}}</li>
      <li>状态: {{station}}</li>
      <li>加载: {{load}}</li>
      <li>错误: {{error}}</li>
      <li>设备: {{mobile}}</li>
      <li>本机: {{local}}</li>
    </ol>
  </div>
</content>
<content *ngIf='http && station && load'>
  <div class="people">
    <div class="head_img"><img src="{{user.avatar ||'http://liaowang.oss-cn-hangzhou.aliyuncs.com/www/assets/img/news.jpg'}}" alt="placeholderImage"></div>
    <h2>{{user.username}}</h2>
    <h3>{{user.roleName}}</h3>
  </div>
  <div class="btns">
    <div class="btn btn1" [navPush]="tab2Root">
      <!-- <span *ngIf='index.auditNum'>{{index.auditNum}}</span> -->
      <div class="btn_title">稿件管理</div>
    </div>
    <div class="btn btn2" [navPush]="tab1Root">
      <!-- <span *ngIf='index.themeNum'>{{index.themeNum}}</span> -->
      <div class="btn_title">选题管理</div>
    </div>
  </div>
</content>
<!-- <button class="test1" (click)='pushParams()'>发送模拟数据</button> -->
<!-- <button class="test1"  (click)='listen()'>接受</button> -->
<!-- <button class="test2" (click)='send()'>发送</button> -->
<!-- <button class="test1" [navPush]="tab2Root">取值</button> -->
